@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app {
    @apply bg-gray-900 font-poppins min-h-screen;
  }
}

@layer components {
  .hero {
    @apply h-[400px] relative md:h-[500px] after:content-none after:absolute after:top-0 after:left-0 after:h-full after:w-full after:bg-black/90;
  }

  .button {
    @apply px-5 py-3 inline-flex rounded-lg text-white bg-red-600 hover:bg-red-900 transition duration-300 ease-in-out;
  }
}

@layer utilities {
  .movie-title {
    @apply text-white text-lg font-semibold tracking-wide overflow-hidden;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .loading {
    @apply w-full h-full flex justify-center items-center;
  }
}
